{% extends "base_dashboard.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'styles/styles_profile.css' %}" />
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("form_create").focus();
        });
    </script>

</head>
    <h1>Modification du profil de <span style="color: #fff;">{{ user.username }}</span></h1>
    <form method="post" enctype="multipart/form-data" id="form_create">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="profile_form">Enregistrer les modifications du profil</button>
    </form>

    <form method="post" id="password_form">
        {% csrf_token %}
        {{ password_form.as_p }}
        <button type="submit" name="password_form">Changer le mot de passe</button>
    </form>

    <a class="profile" href="{% url 'profile' %}">Retour au profil</a>

{% endblock %}
