{% extends "base_dashboard.html" %}

{% block title %}Tableau de bord - Mon Site Web{% endblock %}

{% load static %}

{% block content %}
<head>
    <title>Édition de modèle</title>
    <link rel="stylesheet" href="{% static 'styles/styles2.css' %}">
    <script src="https://cdn.tiny.cloud/1/38eszhl6q1keeh9ax7960vu0tqqujs38igilb7mnfo9jc6fj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea.tinymce',
            plugins: 'ai mentions anchor textcolor code preview autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | forecolor backcolor | formatselect | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            content_css: ['/static/styles/mdb.min.css','/static/styles/styles_portfolio.css', '/static/styles/fontawesome.min.css', '/static/styles/styles2.css'],
            valid_elements: '*[*]',
        });
        </script>
</head>
<!-- <a href="/static/styles/grill/style.css"></a> -->
    <h1>Modification du modèle : <span style="color: #fff;">{{ template.name }}</span></h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Enregistrer les modifications</button>
    </form>
{% endblock %}
