<p></p>
<p>
<script src="https://kit.fontawesome.com/88d6221bec.js" crossorigin="anonymous"></script>
</p>
<!-- Grande image de couverture --><nav>
<div class="logo"><img src="/static/images/logo_vd_1.png" alt=""></div>
  <div class="texte-a-cote">
<p>Versatile Design</p>
</div>
<ul class="menu">
<li class="bouton"><a href="#features">Features</a></li>
<li class="bouton"><a href="#about">About</a></li>
<!-- Bouton pour accéder à l'application déployée -->
<li class="bouton"><a href="https://sirothpech.github.io/versatile/">D&eacute;marrer</a></li>
</ul>
</nav><!-- Section d'introduction (intro) -->
<section id="intro">
<div class="intro-content">
<div class="logo-container"><img src="/static/images/logo_vd_1.png" alt=""></div>
<div class="phrase-container"><span class="large-text">&Ecirc;tre visible.</span>
<p>Des sites web qui racontent</p>
<p>votre histoire avec Versatile Design.</p>
</div>
</div>
</section>
<section id="features"><!-- Premier élément : Image à gauche, texte à droite -->
<div class="feature">
  <div class="feature-image"><img src="/static/images/mockup_login.png" alt=""></div>
<div class="feature-text">
<h3>Cr&eacute;ez un Compte Utilisateur</h3>
<p>Inscrivez-vous pour d&eacute;bloquer tout le potentiel de Versatile Design. Avec un compte utilisateur, vous pourrez acc&eacute;der &agrave; une vari&eacute;t&eacute; de fonctionnalit&eacute;s exclusives et personnaliser votre exp&eacute;rience en ligne.</p>
</div>
</div>
</section>
<section id="features"><!-- Deuxième élément : Texte à gauche, image à droite -->
<div class="feature">
<div class="feature-text">
<h3>Utilisez notre Dashboard Polyvalent</h3>
<p>Notre puissant tableau de bord offre une flexibilit&eacute; in&eacute;gal&eacute;e. Quelle que soit votre pr&eacute;f&eacute;rence, Versatile Design vous permet de cr&eacute;er un site qui vous ressemble.</p>
</div>
<div class="feature-image"><img src="/static/images/mockup_dash.png" alt=""></div>

</div>
</section>
<section id="about">
<h2>About Us</h2>
<p>Le projet Versatile Design est n&eacute; de notre passion pour la cr&eacute;ation web et du d&eacute;sir de d&eacute;velopper notre portefeuille de comp&eacute;tences au sein de Holberton School. Notre aventure a commenc&eacute; en tant qu'&eacute;tudiants enthousiastes, et au fil du temps, elle a &eacute;volu&eacute; pour devenir un projet porteur de sens.</p>
<p>Ce projet nous a permis d'explorer de nombreuses facettes de la conception de sites web, de l'exp&eacute;rience utilisateur &agrave; la mise en &oelig;uvre de fonctionnalit&eacute;s avanc&eacute;es. Il est le r&eacute;sultat de nombreuses heures de travail acharn&eacute; et de d&eacute;vouement, et il continuera d'&eacute;voluer au fil de notre apprentissage.</p>
<p>En tant que projet de portfolio pour Holberton School, Versatile Design repr&eacute;sente notre voyage en tant que futurs d&eacute;veloppeurs web. Nous esp&eacute;rons qu'il vous donnera un aper&ccedil;u de nos comp&eacute;tences et de notre passion pour le d&eacute;veloppement web.</p>
<h3>Meet the Team</h3>
<p>Nous sommes fiers de pr&eacute;senter l'&eacute;quipe qui a donn&eacute; vie &agrave; Versatile Design :</p>
<div><label>Chaherdine ABDOU</label> <a href="https://github.com/chaher13" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a> <a href="https://www.linkedin.com/in/chaherdine-abdou/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a> <label>Christophe NGAN</label> <a href="https://github.com/Sirothpech" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a> <a href="www.linkedin.com/in/christophe-ngan-909ba3288" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></div>
<p>Pour explorer notre projet plus en d&eacute;tail, n'h&eacute;sitez pas &agrave; consulter le <a href="https://sirothpech.github.io/versatile/" target="_blank" rel="noopener">r&eacute;pertoire GitHub</a> du projet.</p>
</section>
<div><footer>
<div class="container">
<div class="footer-content">
<p style="text-align: center;"></p>
<table border="0" style="border-collapse: collapse; width: 100%; height: 27px;">
<tbody>
<tr style="height: 27px;">
<td style="width: 35.7529%; height: 27px;">&copy;️ 2023 Versatile Design</td>
<td style="width: 28.5714%; height: 27px;">&copy;️ 2023 Versatile Design</td>
<td style="width: 17.8378%; height: 27px;"></td>
<td style="width: 17.8378%; height: 27px;">&copy;️ 2023 Versatile Design</td>
</tr>
</tbody>
</table>
</div>
</div>
</footer></div>
